@media only screen and (max-width: 600px) {
  .book-card {
    width: 95%;
    margin: calc(5% / 2);
  }
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

#book-container {
  display: flex;
  flex-direction: row;
  width: 80vw;
  max-width: 990px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#form-field {
}

.book-card {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 15px;
  width: 30%;
  min-width: 230px;
  margin: calc(9% / 6);
  justify-content: center;
  align-items: center;
}

.card-button {
  justify-self: center;
  width: 80%;
  margin: 0px;
  margin-bottom: 16px;
}
